server {
    listen 80;

    server_name localhost;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
    }

    location /healthz {
        root /usr/share/nginx/html/order-service/dist;
        try_files /healthz.html =404;
    }

    location /readiness {
        root /usr/share/nginx/html/order-service/dist;
        try_files /readiness.html =404;
    }
}
